{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        
        <div class = "col-3 square">
            <br><img src = "img/koala.jpg"  class="img-thumbnail"><br>
            1
        </div>
        <div class = "col-3 square">
            <br><img src = "img/banana.jpg"  class="img-thumbnail"><br>
            2
        </div>  
        <div class = "col-3 square">
            <br><img src = "img/mushroom.jpg"  class="img-thumbnail"><br>
            3
        </div>  
        <div class = "col-3 square">
            <br><img src = "img/elephant.jpg"  class="img-thumbnail"><br>
            4
        </div> 
        <form action 
    </div>          

{% endblock %}
