{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

    <h1>
        <h1>message encoded in img:</h1><br>
        <img src = "img/mushroom.jpg"  class="img-thumbnail"><br>
        <h3>{{message}}</h3>
        <br>
        <a href="/">
            <button class = 'btn btn-success'>TAKE ME HOME</button>
         </a>
    </h1>
{% endblock %}
